Repository cardano-foundation/cardano-wallet, pull requests merged in 2024-11, with the labels that each got.

#4825 [ADP-3443] Use fingertrees in TxHistory to speed up time aggregating operations
  lib/customer-deposit-wallet/customer-deposit-wallet.cabal
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Map.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Map/Timed.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Pure.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Pure/API/TxHistory.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Pure/API/TxHistory/Mock.hs
  lib/customer-deposit-wallet/test/unit/Cardano/Wallet/Deposit/Map/TimedSpec.hs
  lib/ui/cardano-wallet-ui.cabal
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Addresses/Transactions.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Deposits/Customers.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Deposits/Mock.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Deposits/Times.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Deposits/TxIds.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Server/Deposits.hs
  lib/ui/src/Cardano/Wallet/UI/Lib/Pagination/TimedSeq.hs
Labels: Deposit, UI

#4830 [ADP-3476] Bump node dependency to version 10.1.2
  README.md
  flake.lock
  flake.nix
  justfile
  run/common/docker/run.sh
  scripts/buildkite/main/docker-smoke-test.sh
  scripts/buildkite/release/docker-smoke-test.sh
  scripts/release-candidate.sh
  test/e2e/README.md
  test/e2e/docker_compose.sh
Labels: Release

#4836 [ADP-3479] Add addresses codec to deposit wallet
  lib/customer-deposit-wallet/customer-deposit-wallet.cabal
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Pure/API/Address.hs
  lib/customer-deposit-wallet/test/unit/Cardano/Wallet/Deposit/Pure/API/AddressSpec.hs
Labels: Deposit

#4828 [ADP-3443] Add roll forward and backward of TxHistory to deposit wallet
  lib/customer-deposit-wallet/customer-deposit-wallet.cabal
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/IO.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/IO/Network/Mock.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/IO/Network/Type.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Map.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Map/Timed.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Pure.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Pure/API/TxHistory.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Pure/API/TxHistory/Mock.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Pure/Balance.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Read.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Testing/DSL.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Testing/DSL/ByTime.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Testing/DSL/Types.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Time.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Write.hs
  lib/customer-deposit-wallet/test/scenario/Test/Scenario/Wallet/Deposit/Run.hs
  lib/customer-deposit-wallet/test/unit/Cardano/Wallet/Deposit/Map/TimedSpec.hs
  lib/customer-deposit-wallet/test/unit/Cardano/Wallet/Deposit/PureSpec.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Addresses/Transactions.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Deposits/Mock.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Deposits/Times.hs
  lib/ui/src/Cardano/Wallet/UI/Lib/Pagination/TimedSeq.hs
Labels: Deposit

#4839 [ADP-3481] Fixing withdrawal integration tests
  lib/api/src/Cardano/Wallet/Api/Http/Shelley/Server.hs
  lib/integration/scenarios/Test/Integration/Scenario/API/Shelley/TransactionsNew.hs
  lib/integration/scenarios/Test/Integration/Scenario/API/Voting.hs
  lib/wallet/src/Cardano/Wallet.hs
  lib/wallet/src/Cardano/Wallet/Transaction.hs
Labels: Conway, Release

#4835 [ADP-3476] Bump cardano-node-runtime flake input
  flake.lock
  lib/api/src/Cardano/Wallet/Api/Http/Shelley/Server.hs
  lib/integration/scenarios/Test/Integration/Scenario/API/Shelley/TransactionsNew.hs
  lib/integration/scenarios/Test/Integration/Scenario/API/Voting.hs
  lib/wallet/src/Cardano/Wallet.hs
  lib/wallet/src/Cardano/Wallet/Transaction.hs
  run/common/nix/run.sh
Labels: Conway

#4842 [ADP-3479] Add XPrv management in deposit wallet REST interface
  lib/customer-deposit-wallet/customer-deposit-wallet.cabal
  lib/customer-deposit-wallet/http/Cardano/Wallet/Deposit/HTTP/Server.hs
  lib/customer-deposit-wallet/http/Cardano/Wallet/Deposit/HTTP/Types/API.hs
  lib/customer-deposit-wallet/http/Cardano/Wallet/Deposit/HTTP/Types/JSON.hs
  lib/customer-deposit-wallet/rest/Cardano/Wallet/Deposit/REST.hs
  lib/customer-deposit-wallet/rest/Cardano/Wallet/Deposit/REST/Wallet/Create.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/IO.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Pure.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/Pure/State/Creation.hs
  lib/customer-deposit-wallet/test/scenario/Test/Scenario/Wallet/Deposit/Exchanges.lhs.md
  lib/customer-deposit-wallet/test/scenario/Test/Scenario/Wallet/Deposit/Run.hs
  lib/customer-deposit-wallet/test/unit/Cardano/Wallet/Deposit/PureSpec.hs
  lib/customer-deposit-wallet/test/unit/Cardano/Wallet/Deposit/RESTSpec.hs
  lib/faucet/lib/Cardano/Faucet.hs
  lib/faucet/lib/Cardano/Faucet/Http/Server.hs
  lib/ui/cardano-wallet-ui.cabal
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/API.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Server/Wallet.hs
Labels: Deposit, UI

#4844 [ADP-3476] Pinpoint mithril version to 2445.0
  run/common/nix/run.sh
Labels: CI, Release

#4846 [ADP-3476] Use mithril to update the preprod state in CI
  scripts/buildkite/admin/refresh-preprod-snapshot.sh
Labels: CI

#4845 [ADP-3476] Add conway param to CLI calls in ruby e2e spec
  scripts/buildkite/main/macos-silicon-e2e.sh
  scripts/buildkite/release/release-candidate.sh
  test/e2e/helpers/cardano_cli.rb
Labels: CI, Release

#4847 Release v2024-11-18
  README.md
  lib/address-derivation-discovery/address-derivation-discovery.cabal
  lib/api/cardano-wallet-api.cabal
  lib/application-extras/cardano-wallet-application-extras.cabal
  lib/balance-tx/cardano-balance-tx.cabal
  lib/benchmarks/cardano-wallet-benchmarks.cabal
  lib/cardano-api-extra/cardano-api-extra.cabal
  lib/coin-selection/cardano-coin-selection.cabal
  lib/crypto-primitives/crypto-primitives.cabal
  lib/customer-deposit-wallet/customer-deposit-wallet.cabal
  lib/delta-store/delta-store.cabal
  lib/delta-types/delta-types.cabal
  lib/exe/cardano-wallet-exe.cabal
  lib/faucet/faucet.cabal
  lib/integration/cardano-wallet-integration.cabal
  lib/iohk-monitoring-extra/iohk-monitoring-extra.cabal
  lib/launcher/cardano-wallet-launcher.cabal
  lib/local-cluster/local-cluster.cabal
  lib/network-layer/cardano-wallet-network-layer.cabal
  lib/primitive/cardano-wallet-primitive.cabal
  lib/secrets/cardano-wallet-secrets.cabal
  lib/std-gen-seed/std-gen-seed.cabal
  lib/temporary-extra/temporary-extra.cabal
  lib/test-utils/cardano-wallet-test-utils.cabal
  lib/text-class/text-class.cabal
  lib/ui/cardano-wallet-ui.cabal
  lib/unit/cardano-wallet-unit.cabal
  lib/wai-middleware-logging/wai-middleware-logging.cabal
  lib/wallet-benchmarks/cardano-wallet-blackbox-benchmarks.cabal
  lib/wallet-e2e/cardano-wallet-e2e.cabal
  lib/wallet/cardano-wallet.cabal
  prototypes/light-mode-test/light-mode-test.cabal
  scripts/buildkite/main/linux-e2e.sh
  scripts/buildkite/main/macos-silicon-e2e.sh
  specifications/api/swagger.yaml
Labels: Release

#4848 [ADP-3476] Add docker image tag bump instructions
  run/common/docker/run.sh
  scripts/buildkite/release/release-candidate.sh
Labels: Bug, CI, Release

#4849 [ADP-3476] Fix release candidate script
  scripts/buildkite/release/release-candidate.sh
Labels: Bug, Release

#4854 [ADP-3492] Retrieve genesis data from disk for the deposit wallet
  lib/benchmarks/exe/latency-bench.hs
  lib/customer-deposit-wallet/customer-deposit-wallet.cabal
  lib/customer-deposit-wallet/rest/Cardano/Wallet/Deposit/REST.hs
  lib/customer-deposit-wallet/rest/Cardano/Wallet/Deposit/REST/Start.hs
  lib/customer-deposit-wallet/test/unit/Cardano/Wallet/Deposit/RESTSpec.hs
  lib/exe/app/cardano-wallet.hs
  lib/exe/lib/Cardano/Wallet/Application.hs
  lib/exe/lib/Cardano/Wallet/Application/CLI.hs
  lib/integration/framework/Test/Integration/Framework/Setup.hs
  lib/ui/cardano-wallet-ui.cabal
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Addresses.hs
  lib/ui/src/Cardano/Wallet/UI/Lib/Address.hs
  run/common/nix/run-wallet.sh
Labels: Deposit
