Repository cardano-foundation/cardano-wallet, pull requests merged in 2024-09, with the labels that each got.

#4765 [ADP-3421] Suspend mithril checks
  .buildkite/pipeline.yml
Labels: CI

#4771 [ADP-3421] Release candidate v2024-09-03
  README.md
  lib/address-derivation-discovery/address-derivation-discovery.cabal
  lib/api/cardano-wallet-api.cabal
  lib/application-extras/cardano-wallet-application-extras.cabal
  lib/balance-tx/cardano-balance-tx.cabal
  lib/benchmarks/cardano-wallet-benchmarks.cabal
  lib/cardano-api-extra/cardano-api-extra.cabal
  lib/coin-selection/cardano-coin-selection.cabal
  lib/crypto-primitives/crypto-primitives.cabal
  lib/customer-deposit-wallet/customer-deposit-wallet.cabal
  lib/delta-store/delta-store.cabal
  lib/delta-types/delta-types.cabal
  lib/exe/cardano-wallet-exe.cabal
  lib/faucet/faucet.cabal
  lib/integration/cardano-wallet-integration.cabal
  lib/iohk-monitoring-extra/iohk-monitoring-extra.cabal
  lib/launcher/cardano-wallet-launcher.cabal
  lib/local-cluster/local-cluster.cabal
  lib/network-layer/cardano-wallet-network-layer.cabal
  lib/primitive/cardano-wallet-primitive.cabal
  lib/secrets/cardano-wallet-secrets.cabal
  lib/std-gen-seed/std-gen-seed.cabal
  lib/temporary-extra/temporary-extra.cabal
  lib/test-utils/cardano-wallet-test-utils.cabal
  lib/text-class/text-class.cabal
  lib/ui/cardano-wallet-ui.cabal
  lib/unit/cardano-wallet-unit.cabal
  lib/wai-middleware-logging/wai-middleware-logging.cabal
  lib/wallet-benchmarks/cardano-wallet-blackbox-benchmarks.cabal
  lib/wallet-e2e/cardano-wallet-e2e.cabal
  lib/wallet/cardano-wallet.cabal
  prototypes/light-mode-test/light-mode-test.cabal
  scripts/buildkite/main/linux-e2e.sh
  specifications/api/swagger.yaml
Labels: Conway, Release

#4769 [ADP-3344] Implement REST-like `IO` interface for Deposit Wallet
  lib/crypto-primitives/src/Cryptography/Hash/Blake.hs
  lib/customer-deposit-wallet/customer-deposit-wallet.cabal
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/IO.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/IO/Resource.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/REST.hs
  lib/customer-deposit-wallet/test/scenario/Test/Scenario/Blockchain.hs
  lib/customer-deposit-wallet/test/unit/Cardano/Wallet/Deposit/RESTSpec.hs
Labels: Deposit

#4774 [ADP-3430] Additional voting and delegation testing
  lib/integration/scenarios/Test/Integration/Scenario/API/Voting.hs
Labels: Conway

#4777 [ADP-3435] Add deposit wallet deletion UI element
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/IO/Resource.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/REST.hs
  lib/ui/cardano-wallet-ui.cabal
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Lib.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Modal.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Head.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/API.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Lib.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Page.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Server.hs
Labels: Deposit, UI

#4782 [ADP-3437] Use REST interface in data API to create the deposit wallet
  justfile
  lib/benchmarks/exe/latency-bench.hs
  lib/customer-deposit-wallet/customer-deposit-wallet.cabal
  lib/customer-deposit-wallet/http/Cardano/Wallet/Deposit/HTTP.hs
  lib/customer-deposit-wallet/http/Cardano/Wallet/Deposit/HTTP/Endpoints.hs
  lib/customer-deposit-wallet/http/Cardano/Wallet/Deposit/HTTP/Implementation.hs
  lib/customer-deposit-wallet/http/Cardano/Wallet/Deposit/HTTP/Server.hs
  lib/customer-deposit-wallet/http/Cardano/Wallet/Deposit/HTTP/Types/API.hs
  lib/customer-deposit-wallet/http/Cardano/Wallet/Deposit/HTTP/Types/JSON.hs
  lib/customer-deposit-wallet/rest/Cardano/Wallet/Deposit/REST.hs
  lib/customer-deposit-wallet/rest/Cardano/Wallet/Deposit/REST/Catch.hs
  lib/customer-deposit-wallet/rest/Cardano/Wallet/Deposit/REST/Start.hs
  lib/customer-deposit-wallet/rest/Cardano/Wallet/Deposit/REST/Wallet/Create.hs
  lib/exe/app/cardano-wallet.hs
  lib/exe/cardano-wallet-exe.cabal
  lib/exe/lib/Cardano/Wallet/Application.hs
  lib/exe/lib/Cardano/Wallet/Application/CLI.hs
  lib/exe/lib/Cardano/Wallet/Application/Logging.hs
  lib/integration/framework/Test/Integration/Framework/Setup.hs
  lib/ui/cardano-wallet-ui.cabal
  lib/ui/src/Cardano/Wallet/UI/Deposit/API.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Lib.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Page.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Server.hs
  run/common/nix/run-wallet.sh
Labels: Deposit, JSON

#4783 [ADP-3451] Use a single thread to signal resource changes
  lib/customer-deposit-wallet/customer-deposit-wallet.cabal
  lib/customer-deposit-wallet/http/Cardano/Wallet/Deposit/HTTP/Server.hs
  lib/customer-deposit-wallet/rest/Cardano/Wallet/Deposit/REST.hs
  lib/customer-deposit-wallet/rest/Cardano/Wallet/Deposit/REST/Start.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/IO/Resource.hs
  lib/customer-deposit-wallet/src/Cardano/Wallet/Deposit/IO/Resource/Event.hs
  lib/customer-deposit-wallet/test/unit/Cardano/Wallet/Deposit/RESTSpec.hs
  lib/exe/lib/Cardano/Wallet/Application.hs
  lib/ui/cardano-wallet-ui.cabal
  lib/ui/src/Cardano/Wallet/UI/Common/Layer.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Lib.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Server.hs
Labels: Deposit, UI

#4785 [ADP-3455] Compact up navigation on small screens
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Body.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Footer.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Navigation.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/About.hs
Labels: Deposit, UI

#4786 [ADP-3457] Optimize layout
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Lib.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Head.hs
Labels: UI

#4787 [ADP-3450] Fix copy buttons on mobile.
  lib/ui/cardano-wallet-ui.cabal
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Copy.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Lib.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Body.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Head.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Shelley/Html/Pages/Addresses.hs
  lib/ui/src/Cardano/Wallet/UI/Shelley/Html/Pages/Wallets/NewWallet.hs
Labels: Deposit, UI

#4789 [ADP-3457] Adapt long text to media
  lib/ui/src/Cardano/Wallet/UI/Deposit/API.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Addresses.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Server.hs
Labels: Deposit, UI

#4784 [ADP-3454] Have smooth data swapping in UI
  lib/ui/cardano-wallet-ui.cabal
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Copy.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Lib.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Body.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Footer.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Head.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Navigation.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/About.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Server.hs
  lib/ui/src/Cardano/Wallet/UI/Shelley/Html/Pages/Addresses.hs
  lib/ui/src/Cardano/Wallet/UI/Shelley/Html/Pages/Wallets/NewWallet.hs
Labels: Deposit, UI

#4788 [ADP-3456] Move address query UI in a separate page
  lib/ui/cardano-wallet-ui.cabal
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Body.hs
  lib/ui/src/Cardano/Wallet/UI/Common/Html/Pages/Template/Navigation.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/API.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Addresses.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Handlers/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Addresses.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Page.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Server.hs
Labels: Deposit, UI

#4796 [ADP-3458] Keep first occurrence of artifacts in release CI jobs
  scripts/buildkite/release/push-artifacts.sh
Labels: Bug, CI

#4795 [ADP-3392] Add run scripts and test for preview network
  .buildkite/pipeline.yml
  configs/cardano/preview/download.sh
  lib/exe/lib/Cardano/Wallet/Application/CLI.hs
  run/common/nix/run.sh
  run/common/snapshot.sh
  run/preview/docker/.env
  run/preview/docker/configs
  run/preview/docker/docker-compose.yml
  run/preview/docker/run.sh
  run/preview/nix/.env
  run/preview/nix/configs
  run/preview/nix/run-node.sh
  run/preview/nix/run-wallet.sh
  run/preview/nix/run.sh
  run/private/nix/run-node.sh
  run/private/nix/run-wallet.sh
Labels: CI

#4800 [ADP-3468] Bump node dependency to 9.2.1
  cabal.project
  flake.lock
  flake.nix
Labels: Conway, Release

#4801 [ADP-3468] Release of v2024-09-29
  README.md
  lib/address-derivation-discovery/address-derivation-discovery.cabal
  lib/api/cardano-wallet-api.cabal
  lib/application-extras/cardano-wallet-application-extras.cabal
  lib/balance-tx/cardano-balance-tx.cabal
  lib/benchmarks/cardano-wallet-benchmarks.cabal
  lib/cardano-api-extra/cardano-api-extra.cabal
  lib/coin-selection/cardano-coin-selection.cabal
  lib/crypto-primitives/crypto-primitives.cabal
  lib/customer-deposit-wallet/customer-deposit-wallet.cabal
  lib/delta-store/delta-store.cabal
  lib/delta-types/delta-types.cabal
  lib/exe/cardano-wallet-exe.cabal
  lib/faucet/faucet.cabal
  lib/integration/cardano-wallet-integration.cabal
  lib/iohk-monitoring-extra/iohk-monitoring-extra.cabal
  lib/launcher/cardano-wallet-launcher.cabal
  lib/local-cluster/local-cluster.cabal
  lib/network-layer/cardano-wallet-network-layer.cabal
  lib/primitive/cardano-wallet-primitive.cabal
  lib/secrets/cardano-wallet-secrets.cabal
  lib/std-gen-seed/std-gen-seed.cabal
  lib/temporary-extra/temporary-extra.cabal
  lib/test-utils/cardano-wallet-test-utils.cabal
  lib/text-class/text-class.cabal
  lib/ui/cardano-wallet-ui.cabal
  lib/unit/cardano-wallet-unit.cabal
  lib/wai-middleware-logging/wai-middleware-logging.cabal
  lib/wallet-benchmarks/cardano-wallet-blackbox-benchmarks.cabal
  lib/wallet-e2e/cardano-wallet-e2e.cabal
  lib/wallet/cardano-wallet.cabal
  prototypes/light-mode-test/light-mode-test.cabal
  scripts/buildkite/main/linux-e2e.sh
  specifications/api/swagger.yaml
Labels: Release
