Repository cardano-foundation/cardano-wallet, pull requests merged in 2025-02, with the labels that each got.

#4933 Document release process in the code base
  .gitignore
  docs/site/src/SUMMARY.md
  docs/site/src/contributor/decisions.md
  docs/site/src/contributor/decisions/2022-10-04-document-storage.md
  docs/site/src/contributor/decisions/2023-01-27-continuous-integration.md
  docs/site/src/contributor/decisions/2023-07-28-workflow-review.md
  docs/site/src/contributor/decisions/2024-03-13-release-process.md
  docs/site/src/contributor/decisions/2024-12-03-document-with-code.md
  docs/site/src/contributor/how/continuous-integration.md
  docs/site/src/contributor/how/release-checklist.md
  docs/site/src/contributor/how/release-process.md
Labels: Docs

#4964 Bump nix channels in release pipeline
  .buildkite/pipeline.yml
  .buildkite/release.yml
  scripts/buildkite/release/flake.lock
  scripts/buildkite/release/flake.nix
  scripts/buildkite/release/release-candidate.sh
Labels: Bug, CI

#4962 Fix web assets serving strategy
  lib/ui/cardano-wallet-ui.cabal
  lib/ui/src/Cardano/Wallet/UI/Common/Handlers/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Server.hs
  lib/ui/src/Cardano/Wallet/UI/Shelley/Handlers/Wallet.hs
  lib/ui/src/Cardano/Wallet/UI/Shelley/Server.hs
  lib/ui/src/Cardano/Wallet/UI/Static.hs
Labels: Improvement, Deposit, UI

#4986 Remove network page from deposit web UI
  lib/exe/lib/Cardano/Wallet/Application.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/API.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Html/Pages/Page.hs
  lib/ui/src/Cardano/Wallet/UI/Deposit/Server.hs
Labels: Deposit

#4990 Fix push-artifacts bash script
  scripts/buildkite/release/push-artifacts.sh
Labels: CI, Release

#5012 Remove some remains of the deposit wallet
  lib/exe/lib/Cardano/Wallet/Application/CLI.hs
  lib/exe/lib/Cardano/Wallet/Application/Logging.hs
  lib/ui/src/shelley/Cardano/Wallet/UI/Shelley/Html/Pages/Page.hs
  lib/ui/test/unit/Cardano/Wallet/UI/Deposit/Html/Pages/Payments/PageSpec.hs
  lib/ui/test/unit/Cardano/Wallet/UI/Lib/DiscretizationSpec.hs
  lib/ui/test/unit/Cardano/Wallet/UI/Lib/Pagination/MapSpec.hs
Labels: Improvement

#5013 Fix some docker CI issues
  .buildkite/pipeline.yml
  .buildkite/restoration-benchmarks.yml
  README.md
  run/common/docker/docker-compose.yml
  run/common/docker/run.sh
  run/preprod/docker/.env
  scripts/buildkite/main/bench-api.sh
  scripts/buildkite/main/bench-db.sh
  scripts/buildkite/main/bench-read-blocks.sh
  scripts/buildkite/main/bench-restore.sh
  scripts/buildkite/main/docker-build.sh
  scripts/buildkite/main/linux-package.sh
  scripts/buildkite/main/macos-intel-package.sh
  scripts/buildkite/main/macos-silicon-package.sh
Labels: CI
